MQTT_Test.json
[
    {
        "id": "f37e469f.6344c8",
        "type": "tab",
        "label": "MQTT Test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "22f9ec4a.8a4bd4",
        "type": "mqtt in",
        "z": "f37e469f.6344c8",
        "name": "",
        "topic": "test220722/sensor/temp",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3e11bccd.52fd44",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 160,
        "wires": [
            [
                "634e6fbf.c2899",
                "cf845e28.5929c",
                "5100de84.a489e"
            ]
        ]
    },
    {
        "id": "634e6fbf.c2899",
        "type": "debug",
        "z": "f37e469f.6344c8",
        "name": "MQTT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 350,
        "y": 60,
        "wires": []
    },
    {
        "id": "5100de84.a489e",
        "type": "ui_gauge",
        "z": "f37e469f.6344c8",
        "name": "",
        "group": "97a7dd0e.47386",
        "order": 1,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "",
        "label": "°C",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "42",
        "colors": [
            "#0000b5",
            "#00b500",
            "#b50000"
        ],
        "seg1": "18",
        "seg2": "28",
        "className": "",
        "x": 370,
        "y": 160,
        "wires": []
    },
    {
        "id": "8a90ba56.f20528",
        "type": "ui_gauge",
        "z": "f37e469f.6344c8",
        "name": "",
        "group": "51f97a49.7f0384",
        "order": 1,
        "width": 6,
        "height": 5,
        "gtype": "wave",
        "title": "",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 350,
        "y": 260,
        "wires": []
    },
    {
        "id": "cf845e28.5929c",
        "type": "ui_text",
        "z": "f37e469f.6344c8",
        "group": "97a7dd0e.47386",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<font size = 4>Current temperature : ",
        "format": "{{msg.payload}}°C",
        "layout": "row-left",
        "x": 450,
        "y": 120,
        "wires": []
    },
    {
        "id": "cdd8a111.caf7",
        "type": "ui_text",
        "z": "f37e469f.6344c8",
        "group": "51f97a49.7f0384",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<font size = 4>Current humidity : ",
        "format": "{{msg.payload}}%",
        "layout": "row-left",
        "x": 430,
        "y": 220,
        "wires": []
    },
    {
        "id": "a837a6ce.c0d8d8",
        "type": "mqtt out",
        "z": "f37e469f.6344c8",
        "name": "",
        "topic": "test220722/control/led",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3e11bccd.52fd44",
        "x": 560,
        "y": 320,
        "wires": []
    },
    {
        "id": "bea9fcd2.ea8a4",
        "type": "ui_switch",
        "z": "f37e469f.6344c8",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "980a7c0b.62db3",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 350,
        "y": 320,
        "wires": [
            [
                "a837a6ce.c0d8d8",
                "7f6695484bd00c45"
            ]
        ]
    },
    {
        "id": "35b39b64.1fe9b4",
        "type": "mqtt in",
        "z": "f37e469f.6344c8",
        "name": "",
        "topic": "test220722/sensor/hum",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3e11bccd.52fd44",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 220,
        "wires": [
            [
                "cdd8a111.caf7",
                "8a90ba56.f20528"
            ]
        ]
    },
    {
        "id": "fde930eaa714e8d7",
        "type": "mqtt in",
        "z": "f37e469f.6344c8",
        "name": "",
        "topic": "test220722/sensor/led",
        "qos": "0",
        "datatype": "utf8",
        "broker": "3e11bccd.52fd44",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 320,
        "wires": [
            [
                "bea9fcd2.ea8a4",
                "7f6695484bd00c45"
            ]
        ]
    },
    {
        "id": "7f6695484bd00c45",
        "type": "ui_led",
        "z": "f37e469f.6344c8",
        "order": 5,
        "group": "980a7c0b.62db3",
        "width": 2,
        "height": 2,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "#00c800",
                "value": "1",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 350,
        "y": 380,
        "wires": []
    },
    {
        "id": "9c7f6cc85bd409b9",
        "type": "ui_spacer",
        "z": "f37e469f.6344c8",
        "name": "spacer",
        "group": "980a7c0b.62db3",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "bccb6449be1f785a",
        "type": "ui_spacer",
        "z": "f37e469f.6344c8",
        "name": "spacer",
        "group": "980a7c0b.62db3",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "5a02cb35e743f30a",
        "type": "ui_spacer",
        "z": "f37e469f.6344c8",
        "name": "spacer",
        "group": "980a7c0b.62db3",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "10f84b1131866343",
        "type": "ui_spacer",
        "z": "f37e469f.6344c8",
        "name": "spacer",
        "group": "980a7c0b.62db3",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "0e98b13a2c8526f0",
        "type": "ui_spacer",
        "z": "f37e469f.6344c8",
        "name": "spacer",
        "group": "980a7c0b.62db3",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "dad19b3cff6a3a43",
        "type": "ui_spacer",
        "z": "f37e469f.6344c8",
        "name": "spacer",
        "group": "980a7c0b.62db3",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "3e11bccd.52fd44",
        "type": "mqtt-broker",
        "name": "HiveMQ Public Broker",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "97a7dd0e.47386",
        "type": "ui_group",
        "name": "Temperture",
        "tab": "9e253195.a496a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "51f97a49.7f0384",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "9e253195.a496a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "980a7c0b.62db3",
        "type": "ui_group",
        "name": "LED control",
        "tab": "9e253195.a496a",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9e253195.a496a",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]